<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979827807455-72705kudmr1j90t1ovg159k2p0frimn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979827807455-72705kudmr1j90t1ovg159k2p0frimn0</string>
	<key>API_KEY</key>
	<string>AIzaSyAc47vcKCl0cdLAtoHRqfTKJ0sW77wVcb8</string>
	<key>GCM_SENDER_ID</key>
	<string>979827807455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-861f4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-861f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979827807455:ios:b8bd9543c8a6278e6e456a</string>
</dict>
</plist>